.lg-social-media-cont{
	padding-right: 15px;
	.lg-social-media{
		padding: 0;
	    margin: 0;
	    list-style: none;
	    display: flex;

	    li{
	    	a{
				width: 20px;
			    height: 20px;
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    background-color: #fff;
			    border-radius: 50%;
			    margin-right: 10px;

	    		i{
					color: #000;
					font-size: 10px;
	    		}
	    	}
	    }
	}
}