.flexible-content{

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.flexible-content-slider{
		width: 100%;

		img{
			width: 100%;
		}
	}

	.media-image{
		width: 100%;
	}

	.grid-overlay{
		position: relative;

		@include media-breakpoint-down(sm){
			width: 100% !important;
		}

		>img{
			width: 100%;
		}
		.overlay{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: #fff;

			h2{
				font-weight: 300;
			}
		}
	}

	div[class*="col-"]{
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
}

.order-xs-initial{
	@include media-breakpoint-up(xs){
		order: initial;
	}
}

.order-sm-initial{
	@include media-breakpoint-up(sm){
		order: initial;
	}
}

.order-md-initial{
	@include media-breakpoint-up(md){
		order: initial;
	}
}

.order-lg-initial{
	@include media-breakpoint-up(lg){
		order: initial;
	}
}

.order-xl-initial{
	@include media-breakpoint-up(xl){
		order: initial;
	}
}