$blog-banner-height: 300px;

// Site Content
.site-content{
	// width: susy-span(12);

	.body-copy{
		// @extend .container;
		// padding: 0 gutter(); 
	}
}


// Blog and default archive pages
.blog{

	#site-content{

		>div{
			display         : flex;
			justify-content : space-between;
			align-items     : flex-start;
			flex-wrap       : wrap;
			padding         : 0 gutter()  gutter() gutter();
			@include media-breakpoint-up(sm){ padding: 0 0 gutter() 0; }

			.body-copy{
				// @include myoutline(red);
				width: span(12); 
				@include media-breakpoint-up(sm){ width: span(12); }
				@include media-breakpoint-up(md){ width: span(8); }
				@include media-breakpoint-up(lg){ width: span(9); }
			}

			.widget-area{
				// @include myoutline(red); 
				display: none;
				@include media-breakpoint-up(sm){ width: span(12);  }
				@include media-breakpoint-up(md){ width: span(4); display: block; }
				@include media-breakpoint-up(lg){ width: span(3); }
			}
		}
	} 

	.blog-banner{
		width: 100%;
		height: $blog-banner-height;
		img{
			@extend .img-full;
			@extend .img-fit;
		}
	}
}