$site-footer-bg-color:			theme-color('primary');
$site-footer-color:				#fff;

//Site Legal
$site-legal-bg-color: 			theme-color('primary');
$site-legal-color:				#fff;
$site-legal-link-color:			#fff;
$site-legal-font-size: (
  xs: 15px,
  sm: 15px,
  md: 15px,
  lg: 15px,
  xl: 15px
);

// Site Footer 
#site-footer{

	// Main Content Area
	#site-footer-main{
		width: 100%;
		background-color: $site-footer-bg-color;
		color: $site-footer-color;
	}


	// The tiny site legal footer area.
	#site-legal{
		width: 100%;
		background-color: $site-legal-bg-color;
		color: $site-legal-color;
		@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);

		a{ color: $site-legal-link-color; }

		.site-info{
			width: susy-span(12);
			text-align: center;
			margin-bottom: gutter();

			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: left;
				margin: 0;
			}
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;


			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: right;
			}
		}
	}

}